%li.navbar-link= link_to 'Manage Users',admin_users_path
%li.navbar-link= link_to 'Manage Admins',admins_path
%li.navbar-link= link_to 'Manage Posts',posts_path
%li.navbar-link= link_to 'Manage Categories',categories_path
%li.navbar-link= link_to 'Activity Report',activity_path
%li.navbar-link= link_to 'Sign Out', admin_logout_path,:method => :post
