- @post.comments.each do |comment|
  -@comment = comment
  %h4= @comment.user.name
  %p= @comment.text
  %p= CommentVote.find_all_by_comment_id(@comment.id).count
  -if @current_user
    - if (comment.user.id.eql? @current_user.id) or @current_admin
      = button_to 'Delete', {:controller => :comments,:action => :destroy ,:id => comment.id},:method => :delete
    - @vote = CommentVote.find_vote(@comment.id,@current_user.id).first
    -if @vote.nil?
      = render 'comment_votes/form'
    -else
      = render 'comment_votes/destroy'
  %br