= form_for(@post) do |f|
  .field
    = f.label :title
    = f.text_field :title
    %br/
  .field
    = f.label :content
    = f.text_field :content
    %br/
  .field
    = f.label :category
    = f.select :category_id, @categories.map {|c| [c.name,c.id]}

  .actions
    = f.submit