= form_for(@post) do |f|
  .field
    = f.label :title
    = f.text_field :title
    %br/
  .field
    = f.label :content
    = f.text_area :content
    %br/
  .field
    = f.label :category
    = f.select :category_id, @categories.map {|c| [c.name,c.id]}
    %br/
  .field
    = f.label :tags
    = f.text_field :tags,:value => @post.tag_string
    %br/
  .actions
    = f.submit