%h1 ChannelBack
- @posts.each do |post|
  %h1= post.title
  %p= post.content
  %p= 'by ' + post.user.name
  - if @current_user and post.user_id.eql? @current_user.id
    = link_to 'Edit',edit_post_path(post)
    = link_to 'Delete',post_path(post),:method => :delete
  %br
- if @current_user
  = link_to 'New Post', new_post_path