%h1.page-header Today's Posts
= form_tag search_path,:method => :post do
  = label_tag 'Search Posts'
  = text_field_tag :query
  = select :category,:category_id, @categories.map {|c| [c.name,c.id]}
  = submit_tag 'Find'
- @posts.each do |post|
  %h3.modal-header= post.title
  %p= 'in ' + post.category.name
  %p.container-fluid= truncate(post.content)
  %p= 'by ' + post.printed_user_name
  - if (@current_user and post.user_id.eql? @current_user.id) or @current_admin
    = link_to 'Edit',edit_post_path(post)
    = link_to 'Delete',post_path(post),:method => :delete
  %p= 'Tagged with ' + post.tag_string
  = link_to 'Read',post_path(post)
  %br