%h2.page-header= @post.title
%p= 'in ' + @post.category.name
%p= @post.content
%p= 'by ' + @post.printed_user_name
%p= 'Tagged with ' + @post.tag_string
%p= 'It has received ' + PostVote.where(:post_id => @post.id).count.to_s + ' vote'.pluralize(PostVote.where(:post_id => @post.id).count)
-if (@current_user and @post.user_id.eql? @current_user.id) or @current_admin
  = link_to 'Edit',edit_post_path(@post)
  = link_to 'Delete',post_path(@post),:method => :delete
-if (@current_user and not @post.user_id.eql? @current_user.id)
  -if @vote.nil?
    = render 'post_votes/form'
  -else
    = button_to '-',{:controller => :post_votes,:action => :destroy ,:id => @vote.id},:method => :delete
%br
%h3.page-header= 'Comments'
%br
= render 'comments/show'
- if @current_user
  = render 'comments/form'
= link_to 'Back to All Posts', posts_path
%br