.navbar.navbar-fixed-top
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .brand= 'ChannelBack'
        %ul.nav
          - if is_admin_page?
            - if @current_admin
              = render 'admins/dashboard_links'
            - else
              %li.navbar-link= link_to 'Sign In', admin_sign_in_path
          -else
            - if @current_user
              = render 'users/user_links'
            - elsif @current_admin
              = render 'admins/dashboard_links'
            - else
              %li.navbar-link= link_to 'Sign In', sign_in_path
